.ex2{
    justify-content: center;
    margin-left: 20% ;
    margin-top: -12.5%;
}

.ex3{
    justify-content: center;
    margin-left: 40% ;
    margin-top: -12%;
}

.ex4{
    justify-content: center;
    margin-left: 60% ;
    margin-top: -9%;
}

h1{
font-size: 20px;
}

h2{
font-size: 20px;
}

h3{
font-size: 20px;
}

h4{
font-size: 20px;
}

h5{
font-size: 20px;
}
